This project aims to study and investigate Employee Attrition using the statistical Survival Analysis method.
The dataset used in this project is IBM HR Analytics Employee Attrition & Performance available for download on Kaggle.

In [3]:
#importing libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
%matplotlib inline
import lifelines
from sklearn.preprocessing import LabelEncoder

In [4]:
df=pd.read_csv('WA_Fn-UseC_-HR-Employee-Attrition.csv', sep=',')

In [5]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [25]:
#exploring data

print(df.describe())

               Age    Attrition    DailyRate  DistanceFromHome    Education  \
count  1470.000000  1470.000000  1470.000000       1470.000000  1470.000000
mean     36.923810     0.161224   802.485714          9.192517     2.912925
std       9.135373     0.367863   403.509100          8.106864     1.024165
min      18.000000     0.000000   102.000000          1.000000     1.000000
25%      30.000000     0.000000   465.000000          2.000000     2.000000
50%      36.000000     0.000000   802.000000          7.000000     3.000000
75%      43.000000     0.000000  1157.000000         14.000000     4.000000
max      60.000000     1.000000  1499.000000         29.000000     5.000000

       EmployeeCount  EmployeeNumber  EnvironmentSatisfaction   HourlyRate  \
count         1470.0     1470.000000              1470.000000  1470.000000
mean             1.0     1024.865306                 2.721769    65.891156
std              0.0      602.024335                 1.093082    20.329428
min              1.0        1.000000                 1.000000    30.000000
25%              1.0      491.250000                 2.000000    48.000000
50%              1.0     1020.500000                 3.000000    66.000000
75%              1.0     1555.750000                 4.000000    83.750000
max              1.0     2068.000000                 4.000000   100.000000

       JobInvolvement  ...  RelationshipSatisfaction  StandardHours  \
count     1470.000000  ...               1470.000000         1470.0
mean         2.729932  ...                  2.712245           80.0
std          0.711561  ...                  1.081209            0.0
min          1.000000  ...                  1.000000           80.0
25%          2.000000  ...                  2.000000           80.0
50%          3.000000  ...                  3.000000           80.0
75%          3.000000  ...                  4.000000           80.0
max          4.000000  ...                  4.000000           80.0

       StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
count       1470.000000        1470.000000            1470.000000
mean           0.793878          11.279592               2.799320
std            0.852077           7.780782               1.289271
min            0.000000           0.000000               0.000000
25%            0.000000           6.000000               2.000000
50%            1.000000          10.000000               3.000000
75%            1.000000          15.000000               3.000000
max            3.000000          40.000000               6.000000

       WorkLifeBalance  YearsAtCompany  YearsInCurrentRole  \
count      1470.000000     1470.000000         1470.000000
mean          2.761224        7.008163            4.229252
std           0.706476        6.126525            3.623137
min           1.000000        0.000000            0.000000
25%           2.000000        3.000000            2.000000
50%           3.000000        5.000000            3.000000
75%           3.000000        9.000000            7.000000
max           4.000000       40.000000           18.000000

       YearsSinceLastPromotion  YearsWithCurrManager
count              1470.000000           1470.000000
mean                  2.187755              4.123129
std                   3.222430              3.568136
min                   0.000000              0.000000
25%                   0.000000              2.000000
50%                   1.000000              3.000000
75%                   3.000000              7.000000
max                  15.000000             17.000000

[8 rows x 27 columns]

In [16]:
#exploring categorical variables

res_categorical=[]
for c in df.columns:
    if df[c].dtype==object:
        res_categorical.append(c)
        print(df[c].value_counts())
        print(f"===================================")

No     1233
Yes     237
Name: Attrition, dtype: int64
===================================
Travel_Rarely        1043
Travel_Frequently     277
Non-Travel            150
Name: BusinessTravel, dtype: int64
===================================
Research & Development    961
Sales                     446
Human Resources            63
Name: Department, dtype: int64
===================================
Life Sciences       606
Medical             464
Marketing           159
Technical Degree    132
Other                82
Human Resources      27
Name: EducationField, dtype: int64
===================================
Male      882
Female    588
Name: Gender, dtype: int64
===================================
Sales Executive              326
Research Scientist           292
Laboratory Technician        259
Manufacturing Director       145
Healthcare Representative    131
Manager                      102
Sales Representative          83
Research Director             80
Human Resources               52
Name: JobRole, dtype: int64
===================================
Married     673
Single      470
Divorced    327
Name: MaritalStatus, dtype: int64
===================================
Y    1470
Name: Over18, dtype: int64
===================================
No     1054
Yes     416
Name: OverTime, dtype: int64
===================================

In [18]:
#exploring numerical variables

res_numerical=[]
for c in df.columns:
    if df[c].dtype!=object:
        print(f"{c} : Minimum: {min((df[c].unique()))}, Maximum: {max((df[c].unique()))} ")
        res_numerical.append(c)
        print(f"===================================")

Age : Minimum: 18, Maximum: 60
===================================
DailyRate : Minimum: 102, Maximum: 1499
===================================
DistanceFromHome : Minimum: 1, Maximum: 29
===================================
Education : Minimum: 1, Maximum: 5
===================================
EmployeeCount : Minimum: 1, Maximum: 1
===================================
EmployeeNumber : Minimum: 1, Maximum: 2068
===================================
EnvironmentSatisfaction : Minimum: 1, Maximum: 4
===================================
HourlyRate : Minimum: 30, Maximum: 100
===================================
JobInvolvement : Minimum: 1, Maximum: 4
===================================
JobLevel : Minimum: 1, Maximum: 5
===================================
JobSatisfaction : Minimum: 1, Maximum: 4
===================================
MonthlyIncome : Minimum: 1009, Maximum: 19999
===================================
MonthlyRate : Minimum: 2094, Maximum: 26999
===================================
NumCompaniesWorked : Minimum: 0, Maximum: 9
===================================
PercentSalaryHike : Minimum: 11, Maximum: 25
===================================
PerformanceRating : Minimum: 3, Maximum: 4
===================================
RelationshipSatisfaction : Minimum: 1, Maximum: 4
===================================
StandardHours : Minimum: 80, Maximum: 80
===================================
StockOptionLevel : Minimum: 0, Maximum: 3
===================================
TotalWorkingYears : Minimum: 0, Maximum: 40
===================================
TrainingTimesLastYear : Minimum: 0, Maximum: 6
===================================
WorkLifeBalance : Minimum: 1, Maximum: 4
===================================
YearsAtCompany : Minimum: 0, Maximum: 40
===================================
YearsInCurrentRole : Minimum: 0, Maximum: 18
===================================
YearsSinceLastPromotion : Minimum: 0, Maximum: 15
===================================
YearsWithCurrManager : Minimum: 0, Maximum: 17
===================================

In [28]:
#Converting Attrition variable into binary variable

encoder=LabelEncoder()
df['Attrition']=encoder.fit_transform(df['Attrition'])

print (df['Attrition'][:10])

0    1
1    0
2    1
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: Attrition, dtype: int64